.logo-text {
	display: flex;
	align-items: center;
	font-size: 36px;
	font-weight: bold;

	&,
	&:link,
	&:visited {
		text-decoration: none;
		color: $col-black;
	}

	svg {
		margin-right: 0.6rem;
		font-size: 40px;
		color: red;
	}
}
